body
{
  background-color:#272822!important;
  color:#CED3B4!important;
}
.gha-feed small
{
  color:#CED3B4!important;
}
a, a:visited, .gha-feed a, .gha-feed a:visited
{
  color:#f6b620!important;
}
.ideal-image-slider, .gha-feed, .gha-activity
{
  border:1px solid #545649;
}
hr.footer, .footnotes hr
{
  color:#545649!important;
  background-color:#545649!important;
}
div#TOC, nav#TOC
{
  border-bottom:1pt solid #545649;
}
table, #bl-repo-index table
{
  border-bottom: 1pt solid #545649;
  border-top: 1pt solid #545649;
}
thead, #bl-repo-index thead
{
  border-bottom: 1pt solid #545649;
  background-color: #46483D;
}
tr.odd:hover, tr.even:hover, #bl-repo-index #TOC ul li:hover, #bl-repo-index tbody tr:hover
{
  background-color: #46483D;
}
td > strong
{
  color: #f6b620;
}
pre, code, blue, span.pkg-section
{
  color:#61BBFF;
}
code
{
  background-color:inherit;
}
pre, pre>code
{
  background-color:#46483D;
}
pre
{
  border:1px solid #545649!important;
}
html
{
  border-top:5px solid #3c3e34;
}
.info
{
  background-color:#274222;
}
.warning
{
  background-color:#422722;
}
@media screen
{
  pre
  {
    border:1px solid #545649!important;
  }
}
